<div ng-app="myApp.bucket">
 <div ng-controller="bucketCtrl">
    <div class="col-md-12 products">
         <div class="row">
             <div class="col-sm-6" ng-repeat="product in products track by $index">
                 <div class="product">
                     <div class="product-img">
                        <a ><img src="{{product.img}}" alt=""></a>
                     </div>
                         <p class="product-title">
                         <p href="#">{{product.name}}</p>
                         <p class="product-price">{{product.price}}</p>
                         <button class="btn" ng-click="delete(product.id)">Удалить из корзины</button>
                 </div>
             </div>
         </div>
    </div>
    <div ng-show="errorbucket" class="alert alert-warning" role="alert">Корзина пуста.</div>
 </div>
</div>
